.header {
  padding-top: 34px;
  text-align: center;
}

.header__logo {
  width: 40%;
  max-width: 118px;
}

.header__title {
  font-weight: 900;
  font-size: 200%;
  line-height: 1.2;
  width: calc(100% - 92px);
  max-width: 228px;
  margin: 50px auto 0 auto;
}

.header__description {
  font-weight: 400;
  font-size: 100%;
  line-height: 1.25;
  width: calc(100% - 32px);
  margin: 16px auto 40px auto;
}

.header__image {
  width: 100%;
  box-sizing: border-box;
  object-fit: cover;
  box-shadow: 10px 10px 25px 0px #00000080;
}

@media screen and (min-width: 544px) {
  .header {
    padding-top: 30px;
    text-align: center;
  }

  .header__logo {
    width: 100%;
    max-width: 254px;
  }
  .header__title {
    font-weight: 900;
    font-size: 468%;
    line-height: 1.1;
    max-width: 530px;
    width: calc(100% - 48px);
  }

  .header__description {
    font-family: Inter;
    font-weight: 400;
    font-size: 187%;
    line-height: 1.8;
    text-align: center;
    width: calc(100% - 48px);
  }
}

@media screen and (min-width: 1024px) {
  .header__title {
    font-weight: 900;
    font-size: 600%;
    line-height: 1.1;
    width: calc(100% - 296px);
    max-width: 830px;
    margin: 90px auto 0 auto;
  }

  .header__description {
    font-weight: 400;
    font-size: 187%;
    line-height: 1.2;
    width: 100%;
    max-width: 720px;
    margin: 32px auto 0 auto;
  }

  .header__image {
    width: calc(100% - 296px);
    object-fit: cover;
    margin-top: 64px;
    box-shadow: 10px 10px 25px 0px #00000080;
  }
}
